<!DOCTYPE html>
<html ng-app="taskApp">

<head>
  <title>Task Todo</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'> -->
  <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css" />
  <link rel="stylesheet" href="assets/app.css" />
</head>

<body flex layout="column" layout-align="center center">
  <md-toolbar layout="row" layout-align="center">
    <!-- <md-button class="menu" hide-gt-sm ng-click="ul.toggleTask()" aria-label="Show task groups">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button> -->
    <h2 md-truncate flex>Task App</h2>

  </md-toolbar>

  <div flex layout="row" ng-controller="TaskController" id="mainBody">
    <md-content class="md-padding">
      <form ng-submit="addTask()">
        <div layout layout-align-gt-sm="center center">
          <md-input-container flex="85">
            <label>Adicionar tarefa</label>
            <input ng-model="newTask" placeholder="Tarefa">
          </md-input-container>
          <md-input-container>
            <md-button md-ink-ripple="false" type="submit" class="md-fab" aria-label="Add task items">
              <md-icon class="material-icons">add</md-icon>
            </md-button>
          </md-input-container>
        </div>
      </form>

      <div>
        <div flex layout layout-align="end" class="listHeader">
          {{remaining()}} de {{tasks.length}} restantes</span>
        </div>
        <ul>
          <li ng-repeat="task in tasks">
            <md-card-actions layout-align="start">
              <md-icon ng-if="task.complete" class="material-icons">done</md-icon>
              <span class="done-true" ng-if="task.complete">{{task.content}}</span>
              <md-button ng-if="task.complete" class="md-accent" ng-click="viewTask(task.id, task.content, $event)">
                Visualizar
              </md-button>
              <md-button layout-align="right" ng-click="deleteTask(task.id)" class="md-warn">Deletar</md-button>
            </md-card-actions>
          </li>
        </ul>
      </div>
      <div flex layout="row" layout-align="center">
        <md-button class="md-accent md-raised" ng-click="getTasks()" class="md-accent">Refresh</md-button>
      </div>
    </md-content>
  </div>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.js"></script>
  <script src="../node_modules/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
  <script src="./src/tasks/TaskController.js"></script>

</body>

</html>